{% extends "base_adm.html" %}
{% block title %}Home - Cozinha Inclusiva{% endblock %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/administrativo/home.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="mt-5 mb-5">Bem-vindo ao Painel Administrativoooooooooooooooooooooooooooooooo</h1>
    <p>Use o menu ao lado para navegar pelas opções administrativas.</p>   

    <div class="bg-secondary" style="max-width: 944px;">
        <p>Teste de largura da área de conteúdo.</p>
    </div>
</div>

{% endblock %}