{% extends "base.html" %}
{% block title %}Categorias - Cozinha Inclusiva{% endblock %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/website/categorias.css' %}">
{% endblock %}

{% block content %}

<div class="text-center m-5 p-5 rounded-4 shadow-sm bg-white mx-auto" style="max-width: 1220px;">
    
    <h2 class="section-title">Categorias de Receitas</h2>

    <ul class="list-unstyled">

        {% for categoria in categorias %}
        <li class="mb-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="categoria-titulo">
                    {{categoria.nome }}
                </h3>

                <a href="{% url 'categoria_selecionada' categoria.id %}" class="btn-ver-mais">
                    Ver mais
                </a>
            </div>

            <div class="row">
                {% for receita in categoria.receitas_categoria.all|slice:":4" %}
                <div class="col-md-3 mb-3">
                    <a href="{% url 'receita_selecionada' receita.id %}" class="text-decoration-none">
                        <div class="recipe-card">
                            <!-- IMAGEM CAPA -->
                            <div class="recipe-image">
                                {% if receita.imagem_capa %}
                                <img src="{{ receita.imagem_capa.url }}" alt="{{ receita.titulo }}">
                                {% else %}
                                <img src="{% static 'image/default/default_recipe.png' %}" alt="Imagem padrão">
                                {% endif %}
                            </div>
                            <!-- NOME E DESCRIÇÃO -->
                            <div class="recipe-content">
                                <h3 class="recipe-title">{{ receita.titulo }}</h3>
                                <p class="recipe-description">{{ receita.descricao|truncatechars:80 }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}